:root {
  --var-color-black: #1b1b1b;
  --var-color-grey: #323232;
  --var-color-beige: #FFE7D0;
  --var-color-orange: #FC6E20;

  --var-accent-1: var(--var-color-beige);
  --var-accent-2: var(--var-color-orange);


  --var-main-color: rgb(115, 162, 255) /* paletvioletred */;
  --var-main-color-low-opacity: rgba(115, 161, 255, .1) /*#d870930c*/;
  --var-main-color-reduced-opacity: rgba(115, 161, 255, .2)/*#d870933a*/;
  --var-accent-color: rgb(254, 92, 135);

  --var-main-color-text: rgb(50, 50, 70);
}

@font-face {
  font-family: BalooPaaji;
  src: url(/static/BalooPaaji2-Regular.ttf);
}

html, body {
  padding: 0;
  margin: 0;
  font-family: BalooPaaji;
  color: var(--var-color-black);
  background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(255,255,255,1) 100%);
  
}

body {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(241, 243, 246); */
  min-height: 100vh;
}

/* #region menu */
body .menu {
  display: flex;
  justify-content: flex-end;
  padding: 0 4.5em;
}

.menu h1 {
  color: black;
  margin-top: 0;
  font-size: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.menu a {
  text-decoration: none;
  color: grey;
  box-shadow: 0 7px 1px -6px rgba(20, 20, 20, 0.1);
  transform: translate(-12px);
  text-align: center;
}

.menu a span {
  display: block;
}

.menu a + a {
  margin-left: 1em;
}

.menu a.active {
  color: var(--var-main-color);
  box-shadow: 0 7px 1px -6px currentColor;;
}
/* #endregion menu */


/* #region global styles */

input.link {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  /* text-decoration: underline; */
  color: var(--var-accent-2);
  font-size: 1em;
  line-height: normal;
  padding: unset;
}

a {
  color: var(--var-color-grey);
  text-decoration: none;
}

* + a.button {
  margin-left: 1em;
}

button, input[type="submit"]:not(.link), a.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  background: var(--var-main-color-low-opacity);
  border-radius: 3px;
  color: var(--var-color-grey);
  height: 60%;
}

a.button span {
  margin-left: 12px;
  font-weight: bold;
  font-size: 125%;
}

input {
  border-radius: 6px;
  border: none;
  /* background: rgb(244, 246, 248); */
  /* box-shadow: inset 0 0 2px 0px rgba(20, 20, 20, 0.2); */
  border: solid 1px whitesmoke;
  background: none;
  padding: .5em;
}

label {
  font-weight: normal;
}
/* #endregion global styles */

/* #region form styles */
.form-wrapper {
  background: linear-gradient(-45deg, rgb(251, 252, 255) 0%, rgba(255,255,255,1) 100%);
  border-radius: 6px;
  box-shadow: 0 0 12px 2px rgba(20, 20, 20, .1);
  padding: 1em;
  max-width: 350px;
  border-left: 6px solid #3f3d56;
}

.form-wrapper:focus {
  box-shadow: 
    0 4px 12px -2px rgba(20, 20, 20, .1),
    12px 12px 12px -6px var(--var-main-color-low-opacity);
}


.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-wrapper form h4 {
  font-size: 1.2em;
}

.form-wrapper form input {
  display: block;
}

form div.row {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

form div.row input {
  line-height: 2;
}

form div.row * + * {
  margin-left: 1em;
}
/* #endregion form styles */


/* #region main-page global style */
#content {
  flex-grow: 1;
  padding: 2em 5em;
}

#content .background-illustration {
  z-index: -1;
  position: fixed;
  top: 10%;
  left: 5%;
  opacity: 30%;
  min-width: 100%;
}

.title-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title-row h1 {
  margin: 0;
  font-size: 2rem;
}

.title-row span {
  margin: 0;
  opacity: .8;
}
/* #endregion main-page global style */