#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 12px 2px rgba(20, 20, 20, .1);
  padding: 1em;
  max-width: 350px;
  border-left: 6px solid #3f3d56;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-wrapper form input {
  display: block;
}

.form-wrapper form input[type="submit"] {
  
}

form div.row {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
}

form div.row * + * {
  margin-left: 1em;
}