
.title-row h1 {
  margin: 0;
}

.title-row h3 {
  margin: 0;
  opacity: .8;
}

#content {
  display: flex;
  flex-direction: column;
}

/* #region sheets list */
.sheets {
  max-width: 250px;
  padding-left: 0;
}

.sheets .sheet {
  display: flex;
  justify-content: space-between;
  padding: .4em;
}

.sheet span {
  font-weight: bold;
  margin-left: 3px;
}

.sheets .sheet + .sheet {
  margin-top: .4m;
}

.sheet:hover {
  background: var(--var-main-color-low-opacity);
}

.sheet a {
}

/* #endregion sheets list */
